/* Fonts */
@font-face {
    font-family: Kanit;
    src: url(assets/fonts/Kanit-Medium.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Regular.ttf);
}

/* Keyframe Animations */
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes hop-right {
    50% {
        transform: translateY(-3px) rotateZ(25deg);
    }
    100% {
        transform: translateY(0px) rotateZ(0deg);
    }
}

@keyframes fade-in-top {
    from {
        filter: opacity(0%);
        transform: translateY(-20px);
    }
    to {
        filter: opacity(100%);
        transform: translateY(0px);
    }
}

@keyframes fade-in-bottom {
    from {
        filter: opacity(0%);
        transform: translateY(20px);
    }
    to {
        filter: opacity(100%);
        transform: translateY(0px);
    }
}

/* Animation Classes */
.anim-right {
    transition: 0.5s;
    filter: opacity(0%);
    transform: translateX(-20px);
}

.play-right {
    filter: opacity(100%);
    transform: translateX(0px);
}

.anim-left {
    transition: 0.5s;
    filter: opacity(0%);
    transform: translateX(20px);
}

.play-left {
    filter: opacity(100%);
    transform: translateX(0px);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Resetting Margin and Padding */
*, *::before, *::after {
    margin: 0;
    padding: 0;
}

/* Flex Container */
.flex {
    display: flex;
}

/* Body Styles */
body {
    overflow-x: hidden;
}

/* Header Styles */
header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Navigation Styles */
nav {
    position: absolute;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

nav .logo {
    position: relative;
    color: #333;
    font-family: Kanit;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 4rem;
}

nav .logo::before {
    display: block;
    position: absolute;
    content: "";
    height: 2rem;
    top: -10%;
    left: calc(-2rem - 5px);
    background-image: url(assets/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1;
    filter: brightness(200%) contrast(60%);
}

/* Search Container Styles */
.search-container {
    height: calc(100% - 30px);
    width: 400px;
}

.search-container input {
    width: 100%;
    border: none;
    font-family: Poppins;
    text-indent: 1rem;
    border-radius: 20px 0 0 20px;
}

.search-container button {
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    aspect-ratio: 1 / 1;
    border-radius: 0 20px 20px 0;
    padding-right: 3px;
}

.search-container button img {
    filter: brightness(200%) contrast(10%);
    height: 22px;
    aspect-ratio: 1 / 1;
}

.search-container button:hover img {
    animation: hop-right 0.5s;
}

/* Link Container Styles */
.link-container {
    height: 100%;
    list-style: none;
    align-items: center;
    gap: 20px;
    margin: 0 20px 0 25px;
}

.link-container a {
    position: relative;
    font-family: Kanit;
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    text-transform: capitalize;
}

.link-container a::before {
    position: absolute;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    bottom: -2px;
    left: 50%;
    background-color: #333;
    border-radius: 3px;
    transition: 0.5s;
}

.link-container a:hover::before {
    width: 110%;
    left: -5%;
}

/* Hero Image Styles */
.hero {
    position: absolute;
    height: 120vh;
    width: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(assets/stone-henge.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.45s cubic-bezier(.2, .5, .3, 1);
    z-index: -1;
}

/* Headline Wrapper Styles */
.headline-wrapper {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Headline Container Styles */
.headline-container {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Kanit;
}

.headline-container h1 {
    font-size: 5.5rem;
    color: #222;
    text-align: center;
    filter: opacity(0%);
    animation: fade-in-top 0.5s 0.5s forwards;
}

.headline-container h2 {
    font-size: 2.5rem;
    color: #222;
    text-align: center;
    filter: opacity(0%);
    animation: fade-in-bottom 0.5s 0.8s forwards;
}

.headline-container a {
    color: #222;
}

/* See Blogs Button Styles */
#see-blogs-button {
    margin-top: 15px;
    background-color: #a8ca58;
    padding: 5px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.2s;
    filter: opacity(0%);
    animation: fade-in-bottom 0.5s 0.9s forwards;
}

#see-blogs-button:hover {
    background-color: #bddd72;
    transition: 0s;
}

#see-blogs-button img {
    position: relative;
    height: 1.3rem;
    top: 15%;
    filter: brightness(200%) contrast(70%);
}

/* Main Styles */
main {
    position: relative;
    background-color: #111;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

main::before {
    display: block;
    position: absolute;
    content: "";
    height: 25vh;
    width: 100%;
    top: -25vh;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, #111 100%);
    z-index: 1;
}

/* Introduction Section Styles */
.introduction {
    display: grid;
    position: relative;
    grid-template-columns: 40% 60%;
    color: white;
    margin: 30px 0;
    /* max-width: 70rem; */
    align-items: center;
}

.introduction article {
    padding-left: 5rem;
    margin: 4rem 0;
}

.introduction h3 {
    font-family: Kanit;
    font-size: 2rem;
}

.introduction p {
    font-family: Poppins;
    font-size: 1rem;
    margin-top: 1rem;
}

/* Deck Styles */
.deck {
    display: flex;
    position: relative;
    overflow: visible;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 70%);
    transition: 1s background;
}

.deck div {
    position: absolute;
    border-style: solid;
    border-width: 1.5rem 1.5rem 6rem 1.5rem;
    width: 15rem;
    height: 17rem;
    top: 50%;
    left: 50%;
    box-shadow: rgba(17, 17, 17, 0.5) 0 0 10px;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.deck h4 {
    position: absolute;
    width: 100%;
    top: calc(100% + 1rem);
    font-family: Poppins;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #111;
    text-align: center;
    text-anchor: middle;
}

.card1 {
    background-image: url(assets/card1.jpg);
    transform: translate(calc(-50% - 2rem), -50%) rotateZ(-5deg);
    border-color: #ddd;
    transition: 0.6s;
}

.card2 {
    background-image: url(assets/card2.jpg);
    transform: translate(-50%, -50%);
    border-color: #aaa;
    transition: 0.8s;
}

.card3 {
    background-image: url(assets/card3.jpg);
    transform: translate(calc(-50% + 2rem), -50%) rotateZ(5deg);
    border-color: #777;
    transition: 0.7s;
}

.deck:hover > * {
    filter: blur(3px) brightness(50%);
    border-color: white;
}

.deck:hover .card1 {
    transform: translate(calc(-50% - 8rem), -50%) rotateZ(-15deg);
}

.deck:hover .card2 {
    transform: translate(-50%, calc(-50% - 3rem));
}

.deck:hover .card3 {
    transform: translate(calc(-50% + 8rem), -50%) rotateZ(15deg);
}

.deck > div:hover {
    filter: none;
    z-index: 2;
}

.shape-art {
    position: absolute;
    opacity: 2%;
    z-index: 0;
}

/* Background Art */
#hexagon1 {
    width: 400px;
    height: 400px;
    bottom: -100px;
    left: -140px;
    background-image: url(assets/hexagon.svg);
    background-size: contain;
    animation: rotate 40s linear infinite;
}

#hexagon2 {
    width: 150px;
    height: 150px;
    bottom: -200px;
    left: 200px;
    background-image: url(assets/hexagon.svg);
    background-size: contain;
    animation: rotate 10s linear infinite;
}

#hexagon3 {
    width: 200px;
    height: 200px;
    top: 0;
    right: -50px;
    background-image: url(assets/hexagon.svg);
    background-size: contain;
    animation: rotate 20s linear infinite;
}

/* Recent Blogs Section */
.recent-blogs {
    margin: 30px;
    /* margin-top: 5rem; */
    width: 100%;
}

.recent-blogs > h3 {
    font-family: Kanit;
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
}

.blog-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 1rem;
    height: 30rem;
}

.blog-container h3 {
    font-family: Poppins;
    font-size: 1.3rem;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.blog-container p {
    height: 0;
    filter: opacity(0%);
    font-family: Poppins;
    font-size: 0.9rem;
}

.blog-container > div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: black 0 0 10px;
    border-radius: 20px;
    transition: 0.5s background-position;
}

.blog-container > div:hover p{
    height: fit-content;
    filter: opacity(100%);
    transition: 0.5s;
}

.blog-text-container {
    padding: 10px;
    color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.blog-container a {
    background-color: #a8ca58;
    padding: 3px 8px;
    border-radius: 5px;
    color: #111;
    font-family: Poppins;
    font-size: 0.9rem;
    display: none;
    opacity: 0%;
    width: fit-content;
    margin: 3px 0 0 auto;
}

.blog-container > div:hover a{
    display: block;
    opacity: 100%;
}


.blog1 {
    grid-row: 1 / 3;
    background-image: url(assets/antarctica-bg.jpg);
}

.blog1:hover {
    background-image: url(assets/antarctica-blurred.jpg);
}

.blog2 {
    grid-row: 1 / 2;
    background-image: url(assets/prague-bg.jpg);
}

.blog2:hover {
    background-image: url(assets/prague-bg-blurred.jpg);
}

.blog3 {
    background-image: url(assets/italy-bg.jpg);
}

.blog3:hover {
    background-image: url(assets/italy-bg-blurred.jpg);
}

.read-more {
    grid-column: 2 / 4;
    background-image: url(assets/luggage-bg.jpg);
}

.read-more:hover {
    background-image: url(assets/luggage-bg-blurred.jpg);
}

.read-more * {
    text-align: center;
}

.read-more a {
    margin: 0 auto;
    font-size: 1rem;
    padding: 3px 40px;
}

/* Media Queries */
@media (max-width: 900px) {
    .introduction {
        grid-template-columns: 1fr;
    }

    .introduction article {
        padding-left: 0;
    }
    
    .deck {
        display: none;
    }

    .blogs {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .headline-container h1 {
        font-size: 3.7rem;
    }

    .headline-container h2 {
        font-size: 2rem;
    }

    .search-container {
        display: none;
    }
}

@media (max-width: 700px) {
    .blog-container {
        all: unset;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .blog-container > * {
        height: 400px;
    }
}

@media (max-width: 404px) {
    .headline-container h1 {
        font-size: 3rem;
    }

    .headline-container h2 {
        font-size: 1.5rem;
    }

    .link-container {
        gap: 5px;
        margin: 0 0 0px 5px;
    }

    #explore-button,
    #about-button {
        position: relative;
        visibility: hidden;
    }

    #explore-button::after,
    #about-button::after {
        visibility: visible;
        display: block;
        position: absolute;
        content: "";
        top: -50%;
        left: 0;
        height: 40px;
        width: 40px;
        filter: brightness(200%) contrast(60%);
        background-size: contain;
    }

    #explore-button::after {
        background-image: url(assets/explore-icon.svg);
    }

    #about-button::after {
        background-image: url(assets/person-icon.svg);
    }
}
